.mymargin1 {margin: 5px;}
.mymargin2 {margin: 5px;}
#ans { width: 51%;
margin-left: 28px;}
#inp1 { width: 50%;
margin-left: 5px;}
#inp2 { width: 50%;
margin-left: 5px;}
#calicon { height: 50px;
width: 50px;
margin-left: 400px;}

